---
import Layout from "../layouts/Layout.astro";
import Trucks2 from "./_trucks/trucks2.astro";
---

<Layout>
	<h1 class="bg-slate-300 text-center py-3 text-xl font-semibold">Truck Purchase</h1>

	<p class="text-center mt-3">
		The data present below was take from the
		<a href="https://www.toyota.com/">Toyota</a> website.
		<br />
		Click <em>Shopping</em> and then <em>Search Inventory</em>.
	</p>
	<Trucks2 />
</Layout>
